
.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

/* Стили для кнопок prev/next */
.prev,
.next {
    display: flex;
    cursor: pointer;
    width: auto;
    margin: 22px;
    padding: 25px 15px 25px 15px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    user-select: none;
    border: none;
    border-radius: 5px;
}

/*Стили для кнопок*/
.next {
    right: 0;
}

/*Стили для кнопок*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.603);
}

/*Стиль для основоного блока в котором лежит текст и картинка*/
.div_block2 {
    display: flex;
    overflow: hidden;
    padding-right: 7%;
    padding-left: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_block3 {
        padding: 0px;
        margin: 0px;
    }

}

/* Стиль для блока с текстом */
.div_block3 {
    transform: none;
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 50px;
    margin-right: 50px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_block3 {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        opacity: 1;
    }
}

/* Стиль для текста заголовка */
.div_title span {
    font-size: 21px;
    color: #D81324;
    font-weight: bold;
    text-transform: uppercase;
}

/* Стиль для абзаца */
.div_title p {
    font-size: 20px;
    color: #000000;
    line-height: 28px;
    text-align: justify;
}

/* Стиль для заголовка (второго) */
.div_title h2 {
    font-size: 33px;
    color: #0B2154;
    font-weight: bold;
    margin: 15px 0;
}

/*стиль для блока в котором находится картинка*/
.div_title_img {
    transform: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Стиль для изображений в блоке */
.div_title_acardimg img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/* Стиль для второго основного блока, содержащего текст и картинку */
.div_block2-2 {
    display: flex;
    overflow: hidden;
    padding-right: 7%;
    padding-left: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
    margin-bottom: 150px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_block2 {
        flex-wrap: wrap;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .div_block2-2 {
        flex-wrap: wrap;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        margin-top: 75px;
    }

    .div_title {
        padding-right: 15px;
        padding-left: 15px;
    }

    .div_title span {
        font-size: 20px;
    }

    .div_title h2 {
        font-size: 32px;
    }

    .div_title p {
        font-size: 19px;
    }

}

/* Стиль для блока с текстом */
.div_block3-2 {
    transform: none;
    width: 100%;
    position: relative;
    padding-right: 15PX;
    padding-left: 50px;
    margin-right: 50px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_block3-2 {
        width: 100%;
        margin-right: 0px;

        padding-right: 0px;

        padding-left: 0px;
    }

}


/*Стиль для блока в котором находится картинка*/
.div_title_img2 {
    transform: none;
    position: relative;
    min-height: 1px;
    margin-left: 15PX;
}

/* Стили для анимации появления элементов справа (.delighter.right) */
.delighter.right {
    transform: translate(100%);
    opacity: 0;
    transition: all 0.75s ease-out;
}

/* Стили для анимации появления элементов справа (.delighter.right) в момент начала анимации */
.delighter.right.started {
    transform: none;
    opacity: 1;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_title_img2 {
        margin-right: 15px;
    }
}

/* Стиль для изображений в блоке */
.div_title_acardimg2 img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_title_acardimg2 img {
        text-align: center;
        width: 100%;
    }

    .div_title_acardimg2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* Стили для списка блока*/
.videocard_list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .videocard_list ul {
        margin-bottom: 15px;
        margin-left: 10px;
        font-size: 12px;
    }

    .videocard_list {
        padding-right: 1px;
        padding-left: 1px;
    }
}

/* Медиа-запрос для устройств с шириной экрана 768px */
@media screen and (width:768px) {
    .videocard_list ul {
        margin-bottom: 15px;
    }
}

/* Медиа-запрос для устройств с шириной экрана от 768px до 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .div_block2 {
        padding-right: 0%;
        padding-left: 0%;
    }

    .div_block3 {
        padding-left: 15px;
    }

    .div_block2-2 {
        padding-right: 0%;
        padding-left: 0%;
    }

    .div_block3-2 {
        padding-left: 15px;
    }

    .div_title_img2 {
        transform: none;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 0PX;
    }

    .videocard_list ul {
        margin-bottom: 15px;
        margin-left: 10px;
        font-size: 12px;
    }
}

/* Стили для элемента списка блока */
.videocard_list li {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}


/* Стили для SVG-иконок в элементе списка*/
.videocard_list li svg {
    margin-right: 10px;
}

/* Стили для абзацев в элементе списка*/
.videocard_list li p {
    margin: 0;
    padding: 0;
}

/* Стили для анимации появления элементов слева (.delighter.left) */
.delighter.left {
    transform: translate(-100%);
    opacity: 0;
    transition: all 0.75s ease-out;
}

/* Стили для анимации появления элементов слева (.delighter.left) в момент начала анимации */
.delighter.left.started {
    transform: none;
    opacity: 1;
}

/* Стили для анимации появления элементов справа (.delighter.right) */
.delighter.right {
    transform: translate(100%);
    opacity: 0;
    transition: all 0.75s ease-out;
}

/* Стили для анимации появления элементов справа (.delighter.right) в момент начала анимации */
.delighter.right.started {
    transform: none;
    opacity: 1;
}

/* Стили для контейнера с новостями */
.news-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 15px;
    flex-wrap: wrap;
}

/* Стили для центрированного заголовка новостей */
.news-center {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 40px;
    margin-top: 60px;
}

/* Стили для блока новости */
.news-block {
    width: calc(30% - 40px);
    padding: 20px;
    background-color: rgb(195, 195, 195, 0.15);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .news-block {
        width: calc(75% - 0px);
    }
}

/* Медиа-запрос для устройств с шириной экрана меньше 480px */
@media screen and (max-width: 480px) {
    .news-block {
        width: calc(100% - 40px);
    }
}

/* Стили для ссылок в блоке новости */
.news-block a {
    color: #c21220;
    text-decoration: none;
}

/* Стили для заголовка новости */
.news-title {
    font-size: 18px;
    font-weight: bold;
    color: #003559;
}

/* Стили для содержания новости */
.news-content {
    color: #000000;
    text-align: justify;
}

/* Стили для ссылок "Читать больше" */
.news-details a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #003559;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

/* Анимация изменения цвета ссылок при наведении */
.news-details:hover a {
    color: #D81324;
    transition: color 0.3s ease-in-out;
}

/* Стили для изображения новостей (картинки) */
.news-image {
    width: 100%;
}

/*стили для кнопок*/
.controls {
    display: none;
}

/*Стили для адаптивного дизайна блока новостей*/
@media screen and (min-width: 480px) and (max-width: 768px) {

    .news-container {
        display: flex;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
    }
    .news-wrapper{
        display: flex;
    }

    .controls {
        display: flex;
        align-items: center;
        position: relative;
    }

    .controls button {
        color: #000;
    }
}