/*Стили для всех элементов в теге body*/
body{
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}

/*Стили header*/
header{
    display: flex;
    background-color: #ffffff;
    top: 0; 
    z-index: 100;
    width: 100%;
}

/*Логотип*/
.logo{
    height: 90px;
    width: auto;
    margin: 7px 0 7px 35px;
}

@media screen and (max-width: 768px) {
    /* Стили для логотипа при меньших экранах */
    .logo {
        height: 60px; /* Уменьшаем высоту логотипа */
        margin: 7px 0 7px 10px; /* Уменьшаем отступы логотипа */
    }
}

/*Стили навигационного меню */
nav{
    margin-left: 20px; 
}

/*Стили навигационного меню для списка*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px;
}

/*Стили навигационного меню для а (ссылки)*/
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}
/* Стили для бургер-меню */
.menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
    
}

/* Стили для бургер-иконки */
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #333;
    transition: all 0.3s ease;
}

.menu__btn span::before {
    content: '';
    top: -8px;
}

.menu__btn span::after {
    content: '';
    top: 8px;
}

/* Контейнер для меню */
.menu__box {
    display: none;
}

/* Анимация бургер-меню при нажатии */
.menu__btn:active span::before {
    transform: translateY(20px) rotate(-45deg);
}

.menu__btn:active span::after {
    transform: translateY(-20px) rotate(45deg)
}

/* Показываем бургер-меню при уменьшении экрана */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 999;
        overflow-y: auto;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    .menu__btn span {
        width: 24px;
        height: 2px;
    }

    .menu__btn span::before,
    .menu__btn span::after {
        width: 24px;
        height: 2px;
    }

    #menu__toggle:checked ~ .menu__box {
        transform: translateY(0);
    }
}
/*Стили для элементов списка верхнего уровня в меню*/
.menu > li {
    display: inline-block;
    position: relative;
    padding: 12px 25px;
}

/*Стили для ссылок в элементах списка верхнего уровня*/
.menu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
    font-size: 15px;
}

/*Стили для псевдоэлемента*/
.down:after {
    content: "\25BC";
    margin-left: 8px;
    font-family: "FontAwesome";
    color: inherit;
}

/*Стили для ссылок в списках при наведении на них курсора*/
.menu li a:hover {
    color: #D81324;
}

/*Стили для выпадающего меню при на ведении на пункт меню*/
.menu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

/*Стили для выпадающего меню*/
.submenu {
    position: absolute;
    width: 100%;
    background-color: #003559;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.33s ease;
}

/*Стили для ссылок в выпадающем меню*/
.submenu a {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 12px 15px;
    font-size: 16px;
}

/*Стили для ссылок в выпадающем меню при наведении на них курсора*/
.submenu li a:hover {
    color: #ffffff; 
    background-color: #D81324; 
}

@media screen and (max-width: 768px) {
    /* Расположение элементов в заголовке при уменьшении экрана */
    header {
        flex-wrap: wrap;
    }

    /* Логотип */
    .logo {
        margin-left: 15px;
    }

    /* Навигационное меню */
    nav {
        margin: 0;
    }

    /* Элементы списка верхнего уровня в меню */
    .menu > li {
        padding: 12px 10px;
    }

    /* Ссылки в элементах списка верхнего уровня */
    .menu > li > a {
        padding: 0 10px;
        font-size: 14px;
    }
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*Стили для первого блока с текстом и изображением*/
.marginBottom_large {
    margin-bottom: 0px;
    height: 575px;
    position: relative;
}

/*Стили для контейнера изображения*/
.image-container {
    padding: 0px 0px;
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: block;
    flex-wrap: wrap;
}

/*Стили для блока с текстом*/
.div_block1{
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    padding: 20px 100px;
    width: 100%;
    box-sizing: border-box;
}

/*Стили для текста внутри блока .div_block1*/
.div_text1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Скрыть все слайды по умолчанию */
.slides {
    display: none;
}

/* Стили для кнопок prev/next */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Анимация для слайдов */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Стиль для основоного блока в котором лежит текст и картинка*/
.div_block2{
    display: flex;
    overflow: hidden;
    padding-right: 7%;
    padding-left: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    .div_block3{
        padding: 0px;
        margin: 0px;
    }
    
}
/* Стиль для блока с текстом */
.div_block3{
    transform: none;
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 50px;
    margin-right: 50px;
}
@media screen and (max-width: 768px) {
    .div_block3{
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        opacity: 1;
    }
    
    
}
/* Стиль для текста заголовка */
.div_title span{
    font-size: 21px;
    color: #D81324;
    font-weight: bold;
    text-transform: uppercase;
}

/* Стиль для абзаца */
.div_title p{
    font-size: 20px;
    color: #000000;
    line-height: 28px;
    text-align: justify;
}

/* Стиль для заголовка (второго) */
.div_title h2{
    font-size: 33px;
    color: #0B2154;
    font-weight: bold;
    margin: 15px 0;
}

/*стиль для блока в котором находится картинка*/
.div_title_img{
    transform: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Стиль для изображений в блоке */
.div_title_acardimg img{
    display: block; 
    margin: 0 auto; 
    width: 100%; 
    height: auto;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/* Стиль для второго основного блока, содержащего текст и картинку */
.div_block2-2{
    display: flex;
    overflow: hidden;
    padding-right: 7%;
    padding-left: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
    .div_block2{
        flex-wrap: wrap;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .div_block2-2{
        flex-wrap: wrap;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        margin-top: 75px;
    }
    .div_title{
        padding-right: 15px;
        padding-left: 15px;
    }
    .div_title span{
        font-size: 20px;
    }
    .div_title h2{
        font-size: 32px;
    }
    .div_title p {
        font-size: 19px;
    }
    
}
/* Стиль для блока с текстом */
.div_block3-2{
    transform: none;
    width: 50%;
    position: relative;
    padding-right: 15PX;
    padding-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .div_block3-2{
        width: 100%;
        margin-right: 0px;
        
        padding-right: 0px;
    
        padding-left: 0px;
    }
   
}


/*Стиль для блока в котором находится картинка*/
.div_title_img2{
    transform: none;
    position: relative;
    min-height: 1px;
    margin-left: 15PX;
}

.delighter.right {
    transform: translate(100%);
    opacity: 0;
    transition: all 0.75s ease-out;
}

.delighter.right.started {
    transform: none;
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .div_title_img2 {
        margin-right: 15px; 
    }
}
/* Стиль для изображений в блоке */
.div_title_acardimg2 img{
    display: block; 
    width: 113%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_title_acardimg2 img {
        text-align: center;
        width: 100%; 
    }
    .div_title_acardimg2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
.visible {
    opacity: 1;
}

/* Стили для списка блока*/
.videocard_list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}
/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .videocard_list ul {
        margin-bottom: 15px; 
    }
    .videocard_list{
        padding-right: 1px;
    
        padding-left: 1px;
    }
}
/* Стили для элемента списка блока */
.videocard_list li {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}


/* Стили для SVG-иконок в элементе списка*/
.videocard_list li svg {
    margin-right: 10px;
}

/* Стили для абзацев в элементе списка*/
.videocard_list li p {
    margin: 0;
    padding: 0;
}

.delighter.left {
    transform: translate(-100%);
    opacity: 0;
    transition: all 0.75s ease-out;
  }
  .delighter.left.started {
    transform: none;
    opacity: 1;
  }

.delighter.right {
    transform: translate(100%);
    opacity: 0;
    transition: all 0.75s ease-out;
}

.delighter.right.started {
    transform: none;
    opacity: 1;
}
/* Стили для контейнера с новостями */
.news-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 15px;
    flex-wrap: wrap;
}
  
/* Стили для центрированного заголовка новостей */
.news-center{
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 40px;
    margin-top: 60px;
}

/* Стили для блока новости */
.news-block {
    width: calc(30% - 40px);
    padding: 20px;
    background-color: rgb(195, 195, 195,0.15);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px; 
}

/* Анимация появления для блоков новостей */
.news-block.fade-in {
    opacity: 1;
    transform: translateY(0); 
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .news-block {
        width: calc(50% - 40px); 
    }
}

/* Медиа-запрос для устройств с шириной экрана меньше 480px */
@media screen and (max-width: 480px) {
    .news-block {
        width: calc(100% - 40px); 
    }
}

/* Стили для ссылок в блоке новости */
.news-block a{
    color: #c21220; 
    text-decoration: none; 
}

/* Стили для заголовка новости */
.news-title {
    font-size: 18px;
    font-weight: bold;
    color: #003559;
}

/* Стили для содержания новости */
.news-content {
    color: #000000;
    text-align: justify;
}

/* Стили для ссылок "Читать больше" */
.news-details a{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #003559; 
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

/* Анимация изменения цвета ссылок при наведении */
.news-details:hover a{
    color: #D81324;
    transition: color 0.3s ease-in-out;
}

/* Стили для изображения новостей (картинки) */
.news-image {
    width: 100%;  
}

::-webkit-scrollbar{
    
    background: none;
    z-index: -1;
}

::-webkit-scrollbar-thumb{
    position: absolute;
    background-color: #3a3a3a;
    border-radius: 8px;
    z-index: 10;
}
/* Стили для футера */
footer{
    position: absolute;
    background-color: #000000;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    box-sizing: border-box;
    padding: 40px 0 20px 0;
}

/* Стили для строк футера */
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

/* Стили для текста в футере */
.footer-text1{
    padding: 0 20px 0 20px;
    color: #ffffff;
    max-width: 800px;
}

/* Стили для текста в футере */
.footer-text2{
    padding: 0 0 0 0;
    color: #ffffff;
}

/* Стили для текста в футере */
.footer-text3{
    padding: 0 30px 10px 20px;
    color: #ffffff;
}
.footer-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* Стили для иконок в футере */
.footer-icons a{
    text-decoration: none;
    display: inline-block;
}

.footer-icons a:first-child {
    margin-left: 0; 
}

.footer-icons a:not(:first-child) {
    margin-left: 50px; 
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 768px) {
    .footer-row {
        flex-direction: column; /* Располагаем элементы в столбец */
    }

    .footer-text1,
    .footer-text2,
    .footer-text3 {
        margin-bottom: 20px; /* Увеличиваем отступ между блоками на мобильных устройствах */
    }
}
@media screen and (width: 1024px) {
    .footer-text1{
        padding: 0 20px 0 20px;
        color: #ffffff;
        max-width: 400px;
    }
}