/*Стили для всех элементов в теге body*/
body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}

/*Стили header*/
header {
    display: flex;

    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

/*Логотип*/
.logo {
    height: 90px;
    width: auto;
    margin: 7px 0 7px 35px;
}


/*Стили навигационного меню */
nav {
    margin-left: 20px;
}

/*Стили навигационного меню для списка*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px;
}

/*Стили навигационного меню для а (ссылки)*/
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}

/*Стили для элементов списка верхнего уровня в меню*/
.menu>li {
    display: inline-block;
    position: relative;
    padding: 12px 18px;
}

/*Стили для ссылок в элементах списка верхнего уровня*/
.menu>li>a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
    font-size: 15px;
}

/*Стили для псевдоэлемента*/
.down:after {
    content: "\25BC";
    margin-left: 8px;
    font-family: "FontAwesome";
    color: inherit;
}

/*Стили для ссылок в списках при наведении на них курсора*/
.menu li a:hover {
    color: #D81324;
}

/*Стили для выпадающего меню при на ведении на пункт меню*/
.menu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

/*Стили для выпадающего меню*/
.submenu {
    position: absolute;
    width: 100%;
    background-color: #003559;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.33s ease;
}

/*Стили для ссылок в выпадающем меню*/
.submenu a {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 12px 15px;
    font-size: 16px;
}

/*Стили для ссылок в выпадающем меню при наведении на них курсора*/
.submenu li a:hover {
    color: #ffffff;
    background-color: #D81324;
}

.arrow {
    display: none;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: -17px;
}

.icon_arrow::before {
    content: "\E00C";
    display: none;
}

.Changing {
    display: none;
}

/* Медиа-запрос для экранов с максимальной шириной 987 пикселей */
@media screen and (max-width: 987px) {

    /* Стили для логотипа при меньших экранах */
    .logo {
        height: 60px;
        margin: 13px 0 7px 10px;
    }

    /* Стили для навигационной панели при меньших экранах */
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow-y: auto;
    }

    /* Стили для кнопки навигации при меньших экранах */
    .navbar-toggle {
        position: absolute;
        cursor: pointer;
        color: #000;
        top: 20px;
        right: 20px;
    }

    /* Стили для линий кнопки навигации */
    /* Добавим стили для анимации бургера */
    .bar {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 5px 0;
        transition: all 0.3s ease;
    }

    .change .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .change .bar:nth-child(2) {
        opacity: 0;
    }

    .change .bar:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    /* Стили для меню навигации при меньших экранах */
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 50%;
        max-height: 100vh;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        z-index: 100;
        overflow-y: auto;
    }

    /* Активация меню */
    .menu.active {
        display: block;
    }

    /* Стили для элементов списка в меню */
    .menu li {
        padding: 10px 0;
    }

    /* Стили для ссылок в меню */
    .menu li a {
        text-decoration: none;
        color: #003559;
        transition: 0.3s;
    }
    .menu>li>a{
        height: 40px;
        line-height: 40px;
    } 
    /* Показываем подменю при наведении на элемент списка верхнего уровня */
    .menu li a:hover {
        color: #D81324;
    }

    /* Элементы списка верхнего уровня в меню */
    .menu>li {
        display: block;
        padding: 0px 10px;
        box-shadow: 0px 1px 0px 0px rgb(0, 0, 0);
    }

    /* Ссылки в элементах списка верхнего уровня */
    .menu>li>a {
        font-size: 14px;
        padding: 0 5px;
    }

    .arrow {
        display: block;
    }

    /* Стили для выпадающего подменю */
    .submenu {
        display: none;
        position: relative;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0);

    }
    .submenu a{
        font-size: 14px;
    }
    /* Показываем подменю при наведении на элемент списка верхнего уровня */
    .menu>li:hover .submenu {
        display: block;
    }

    /* Показываем подменю при наведении на элемент списка верхнего уровня */
    .submenu.active {
        display: block;
    }

    /* Стили для элементов подменю */
    .submenu li {
        margin: 5px 0;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0);
    }

    /* Стили для ссылок в подменю */
    .submenu li a {
        color: #003559;
        text-align: center;
        font-weight: bold;
    }

    /* При наведении на ссылку в подменю */
    .submenu li a:hover {
        color: #ffffff;
    }

    /* Дополнительные стили для ссылок */
    .submenu a {
        text-align: center;
        font-weight: bold;
        padding: 0px 0px;
    }

    .Changing {
        display: block;
        width: 200px;
        text-decoration: none;
        color: #003559;
        transition: 0.3s;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
    }

}

/* Медиа-запрос для экранов с максимальной шириной 397 пикселей */
@media screen and (max-width: 397px) {
    .menu {
        width: 70%;
    }
}

/* Медиа-запрос для экранов с минимальной шириной 986.5 пикселей и максимальной шириной 1500 пикселей */
@media screen and (min-width: 986.5px) and (max-width: 1070px) {

    .menu>li {
        padding: 12px 0px;
    }

    .menu>li>a {
        padding: 0 8.5px;
    }

}

@media screen and (min-width: 1070px)and (max-width: 1500px) {
    .menu>li {
        padding: 12px 0px;
    }

    .menu>li>a {
        padding: 0 15px;
    }
}

/*Стили для хлебных крошек*/
.crumbs {
    margin: 10px 0px;
    background-color: rgb(195, 195, 195, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/*Стили хлебные крошки*/
.crumbs>h3 {
    padding: 10px 25px;
    margin: 0px 5px;
}



/* Стили для футера */
footer {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    box-sizing: border-box;
    padding: 40px 0 20px 0;
}

/* Стили для строк футера */
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

/* Стили для текста в футере */
.footer-text1 {
    padding: 0 20px 0 20px;
    max-width: 800px;
}

/* Стили для текста в футере */
.footer-text2 {
    padding: 0 0 0 0;
}

/* Стили для текста в футере */
.footer-text3 {
    padding: 0 30px 10px 20px;
}

/* Стили для икнонок в футере */
.footer-icons {
    display: flex;
    justify-content: center;
}

/* Стили для иконок в футере */
.footer-icons a {
    text-decoration: none;
    display: inline-block;
}

/* Стили для икнонок в футере */
.footer-icons a:first-child {
    margin-left: 0;
}

/* Стили для икнонок в футере */
.footer-icons a:not(:first-child) {
    margin-left: 50px;
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 768px) {
    .footer-row {
        flex-direction: column;

    }

    .footer-text1,
    .footer-text2,
    .footer-text3 {
        margin-bottom: 20px;
    }
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (width: 1024px) {
    .footer-text1 {
        padding: 0 20px 0 20px;
        max-width: 400px;
    }
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer-text3 {
        padding: 0 20px 10px 20px;
    }

    .footer-icons {
        flex-wrap: nowrap;
    }
}