.night-theme-button {
    right: 0px;
    top: 0px;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(255, 255, 255,0);
    transition: filter .4s;
}

.night-theme-button-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -30px;
    opacity: 0;
}



.night-theme-button:hover {
    filter: brightness(120%);
}

.night-theme-button:active {
    filter: brightness(80%);
}

.night-theme-button-icon-moon {
    opacity: 1;
}

body {
    transition: background-color .2s, color 0.2s;
}

/* Стили для темной темы */
body.night-theme {
    color: white;
    background-color: black;
}

body.night-theme .night-theme-button-icon-moon {
    opacity: 0;
}
.night-theme-button-icon-sun circle,
.night-theme-button-icon-sun path{
    fill: white;
}
body.night-theme .night-theme-button-icon-sun {
    opacity: 1;
}
/* Стили для темной темы */
.night-theme header {
    background-color: black;
    transition: background-color .25s, color .25s;
}
.night-theme .prev,
.night-theme .next{
    background-color: rgba(255, 255, 255, 0.667);
}

/*Стили для кнопок*/
.night-theme .prev:hover,
.night-theme .next:hover {
    background-color: rgba(177, 177, 177, 0.603);
}
/* Стили для темной темы */
.night-theme footer {
    background-color: rgb(233, 233, 233);
    color: #000;
    transition: background-color .25s, color .25s;
}

/* Стили для темной темы */
.night-theme .footer-text1 .footer-text3 {
    color: black;
}

/* Стили для темной темы */
.night-theme .footer-icons>a {
    filter: brightness(0.1);
}

.night-theme .logo{
    content: url('./img/Logo_night.png');
    height: 90px;
    width: auto;
    margin: 7px 0 7px 35px;
}
@media screen and (max-width: 987px) {
    .night-theme .logo{
        content: url('./img/Logo_night.png');
        height: 60px;
        width: auto;
        margin: 13px 0 7px 10px;
    }
}


.night-theme .submenu{
    background-color: rgba(0, 53, 89, 0.805);
}
.night-theme .submenu li a:hover {
    background-color: rgba(216, 19, 35, 0.851);
}
/* Стили для темной темы */
.night-theme .crumbs {
    color: aliceblue;
}

/* Стили для темной темы */
@media screen and (max-width: 987px) {
    .night-theme .navbar-toggle {
        color: #ffffff;
    }

    .night-theme .bar {
        background-color: rgb(255, 255, 255);
    }
}

/* Стили для темной темы */
.night-theme .div_title p {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.night-theme .news-center {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.night-theme .news-content {
    color: aliceblue;
}

/* Стили для темной темы */
@media screen and (max-width: 987px) {
    .night-theme .navbar-toggle {
        color: #ffffff;
    }

    .night-theme .bar {
        background-color: rgb(255, 255, 255);
    }
}
/* Стили для темной темы */
@media screen and (max-width: 987px) {
    .night-theme .navbar-toggle {
        color: #ffffff;
    }

    .night-theme .bar {
        background-color: rgb(255, 255, 255);
    }
}

.night-theme .pod_car {
    background-color: #000;
    color: #fff;
}

.night-theme .car-block {
    background-color: #000;
    color: #fff;
}

.night-theme .car-title {
    background-color: #000;
    color: #fff;
}

.night-theme .car-title>span {
    color: #fff;
}

.night-theme .search-icon path{
    fill: #000000;
}

.night-theme .catalog-description{
    color: #fff;
}

.night-theme .pagination li a{
    color: #fff;
}

.night-theme .h1_title{
    color: #fff;
}

.night-theme .heart-icon:active{
    color: #f00;
}

.night-theme .services-container > h2,
.night-theme .services-container > p{
    color: white;
}
.night-theme .consultation-block > h2,
.night-theme .consultation-block > p{
    color: white;
}
.night-theme .content_block4,
.night-theme .content_block5_fon,
.night-theme .content_block3{
    background-color: rgb(102, 102, 102);
}
.night-theme .form-container{
    background-color: rgb(102, 102, 102);
}
.night-theme .block3_img{
    filter: brightness(85%);
}

/* Стили для темной темы */
@media screen and (max-width: 987px) {
    .night-theme .navbar-toggle {
        color: #ffffff;
    }

    .night-theme .bar {
        background-color: rgb(255, 255, 255);
    }
}

.night-theme .stocks_block1 {
    background-color: #000;
}

.night-theme .footer-icons>a {
    filter: brightness(0.1);
}


.night-theme .content-wrapper{
    background-color: #000000;
}
.night-theme .message > h2{
    color: white;
}
.night-theme .div_titlee p {
    color: white;
}
.night-theme #feedback-form input,
.night-theme #feedback-form textarea{
    filter: brightness(80%);
}
@media screen and (max-width: 987px) {
    .night-theme-button-icon{
        margin-top: -20px;
    }
    .night-theme .menu{
        background-color: rgb(102, 102, 102);
    }
    .night-theme .submenu{
        background-color: rgb(102, 102, 102, 0.592);
    }
}