/*Стили для всех элементов в теге body*/
body{
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}

/*Стили header*/
header{
    display: flex;
    background-color: #ffffff;
    position: sticky;
    top: 0; 
    z-index: 100;
    width: 100%;
}

/*Логотип*/
.logo{
    height: 90px;
    width: auto;
    margin: 7px 0 7px 35px;
}

/*Стили навигационного меню */
nav{
    margin-left: 20px; 
}

/*Стили навигационного меню для списка*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px;
}

/*Стили навигационного меню для а (ссылки)*/
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}

/*Стили для элементов списка верхнего уровня в меню*/
.menu > li {
    display: inline-block;
    position: relative;
    padding: 12px 25px;
}

/*Стили для ссылок в элементах списка верхнего уровня*/
.menu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
    font-size: 15px;
}

/*Стили для псевдоэлемента*/
.down:after {
    content: "\25BC";
    margin-left: 8px;
    font-family: "FontAwesome";
    color: inherit;
}

/*Стили для ссылок в списках при наведении на них курсора*/
.menu li a:hover {
    color: #D81324;
}

/*Стили для выпадающего меню при на ведении на пункт меню*/
.menu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

/*Стили для выпадающего меню*/
.submenu {
    position: absolute;
    width: 100%;
    background-color: #003559;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.33s ease;
}

/*Стили для ссылок в выпадающем меню*/
.submenu a {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 12px 15px;
    font-size: 16px;
}

/*Стили для ссылок в выпадающем меню при наведении на них курсора*/
.submenu li a:hover {
    color: #ffffff; 
    background-color: #D81324; 
}

/* Стили контейнера услуг */
.services-container {
    background-color: rgba(198, 198, 198, 0.408);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 20px 20px 20px;
    margin: 15px 30px;
    color: #333;
}

/* Стили заголовка блока услуг */
.services-container h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

/* Стили абзацев в блоке услуг */
.services-container p {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Стили блока с услугами */
.Services_block{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

/* Стили контейнера для ссылок на услуги */
.service-links {
    display: flex;
    justify-content: center;
}

/* Стили ссылок на услуги */
.service-links a {
    margin: 0 10px;
}

/* Стили изображений услуг */
.service-links img {
    width: 100px;
    height: auto;
}

/* Стили блока ссылки на услугу */
.test_block{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/* Стили информации о каждой услуге */
.test_info{
    position: relative;
}

/* Стили изображений в блоке услуг */
.test_img img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: all .4s;
    vertical-align: middle;
    border-style: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Стили текста в блоке услуг */
.test_text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

/* Стили блока консультации */
.consultation-block {
    text-align: center;
    max-width: 600px; 
    margin: 20px auto;
}

/* Стили заголовка блока консультации */
.consultation-block h2 {
    font-size: 30px;
    margin-bottom: 20px;   
}
  
/* Стили абзацев в блоке консультации */
.consultation-block p {
    font-size: 20px;
    margin-bottom: 25px;
}
  
/* Стили кнопки отправки сообщения */
.send-message-button {
    display: inline-block;
    padding: 12.5px 35px;
    background-color: #003559;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 700;
}
 
/* Стили кнопки отправки сообщения при наведении */
.send-message-button:hover {
    background-color: #0056b3;
}

/* Стили для футера */
footer{
    position: absolute;
    background-color: #000000;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    box-sizing: border-box;
    padding: 40px 0 20px 0;
}

/* Стили для строк футера */
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

/* Стили для текста в футере */
.footer-text1{
    padding: 0 20px 0 20px;
    color: #ffffff;
    align-self: flex-start;
    max-width: 800px;
}

/* Стили для текста в футере */
.footer-text2{
    padding: 0 0 0 0;
    color: #ffffff;
}

/* Стили для текста в футере */
.footer-text3{
    padding: 0 30px 10px 20px;
    color: #ffffff;
}

/* Стили для иконок в футере */
.footer-icons > * + *{
    margin-left: 40px;
} 

/* Стили для иконок в футере */
.footer-icons a{
    text-decoration: none;
}