/* Стили для блока .div_block1 */
.div_block1 {
    background-color: rgba(198, 198, 198, 0.408);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 20px 20px 20px;
    margin: 15px 30px;
}

/* Стили для заголовка h1 */
h1 {
    text-align: center;
    font-size: 30px;
}

/* Стили для элементов списка */
li {
    font-size: 17px;
}

/*Стиль для основоного блока в котором лежит текст и картинка*/
.div_block2 {
    display: flex;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 45px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_block3 {
        padding: 0px;
        margin: 0px;
    }

}

/* Стиль для блока с текстом */
.div_block3 {
    transform: none;
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 50px;
    margin-right: 50px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px */
@media screen and (max-width: 768px) {
    .div_block3 {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        opacity: 1;
    }
}

/* Стиль для текста заголовка */
.div_titlee span {
    font-size: 21px;
    color: #D81324;
    font-weight: bold;
    text-transform: uppercase;
}

/* Стиль для абзаца */
.div_titlee p {
    font-size: 20px;
    color: #000000;
    line-height: 28px;
    text-align: justify;
}

/* Стиль для заголовка (второго) */
.div_titlee h2 {
    font-size: 33px;
    color: #0B2154;
    font-weight: bold;
    margin: 15px 0;
}

/*стиль для блока в котором находится картинка*/
.div_title_img {
    transform: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Стиль для изображений в блоке */
.div_title_acardimg img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Стили для контейнера .chart-container */
.chart-container {
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 35px;
}

/* Медиа-запрос для устройств с шириной экрана меньше 768px (планшеты и мобильные устройства) */
@media (max-width: 768px) {
    .chart-container {
        width: 90%;
        height: 250px;
    }
}

/* Медиа-запрос для устройств с шириной экрана меньше 480px (мобильные устройства) */
@media (max-width: 480px) {
    .chart-container {
        width: 95%;
        height: 200px;
    }
}

/* Медиа-запрос для устройств с шириной экрана меньше 480px (мобильные устройства) */
@media (max-width: 350px) {
    .chart-container {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 768px) {

    /* Медиа-запрос для экранов с шириной до 768px */
    .div_block2 {
        /* Блок 2 */
        flex-wrap: wrap;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .div_title {
        /* Заголовок блока */
        padding-right: 15px;
        padding-left: 15px;
    }

    .div_title span {
        /* Стили для span в заголовке блока */
        font-size: 20px;
    }

    .div_title h2 {
        /* Стили для заголовка h2 в блоке */
        font-size: 32px;
    }

    .div_title p {
        /* Стили для абзацев в заголовке блока */
        font-size: 19px;
    }

}

strong {
    /* Стили для жирного текста */
    color: #0B2154;
}