/* Стили для блока .div_block1 */
.div_block1 {
    background-color: rgba(198, 198, 198, 0.408);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 20px 20px 20px;
    margin: 15px 30px;
}

/* Стили для заголовка h1 */
h1 {
    text-align: center;
    font-size: 30px;
}

/* Стили для абзацев внутри блока .div_block2 */
.div_block2 p {
    font-size: 20px;
    text-align: center;
}

/* Стили для элементов списка */
li {
    font-size: 17px;
}

/* Стили для контейнера .chart-container */
.chart-container {
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
}

/* Стили для темной темы */
body.dark-theme {
    color: aliceblue;
    background-color: black;
}

/* Стили для светлой темы */
body.light-theme {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Стили для темной темы */
.dark-theme header {
    background-color: black;
}

/* Стили для темной темы */
.dark-theme footer {
    background-color: rgb(255, 255, 255);
    color: #000;
}

/*Стили для светлой темы*/
.light-theme footer {
    color: white;
}

/* Стили для темной темы */
.dark-theme .footer-text1 .footer-text3 {
    color: black;

}

/* Стили для темной темы */
.dark-theme .footer-icons>a {
    filter: brightness(0.1);
}

/* Стили для темной темы */
.dark-theme .div_title p {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.dark-theme .news-center {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.dark-theme .news-content {
    color: aliceblue;

}

/* Стили для темной темы */
.dark-theme .crumbs {
    color: aliceblue;


}

/* Стили для темной темы */
@media screen and (max-width: 987px) {
    .dark-theme .navbar-toggle {
        color: #ffffff;
    }

    .dark-theme .bar {
        background-color: rgb(255, 255, 255);
    }
}