/* Стили для формы обратной связи */
#feedback-form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для меток */
label {
    font-weight: bold;
}

/* Стили для полей ввода текста, телефонных номеров и текстовых областей */
input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Стили для чекбоксов */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Стили для текстового поля "Сообщение" */
#message {
    height: 150px;
    resize: none;
}

/* Стили для кнопок */
main>button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #003559;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Стили для кнопок при наведении курсора */
main>button:hover {
    background-color: #0056b3;
}

/* Стили для сообщений об ошибках */
.error-message {
    color: red;
}

/* Стили для блока истории */
#history {
    margin-top: 20px;
}
#submit-btn {
    background-color: #003a61; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 35px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button an inline block */
    font-size: 16px; /* Increase font size */
    margin: 25px 0 0px 0; /* Some margin */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

#submit-btn:hover {
    background-color: #0056b3; /* Darker green background on hover */
}
