/* Стили для формы обратной связи */
#feedback-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для меток */
label {
    font-weight: bold;
}

/* Стили для полей ввода текста, телефонных номеров и текстовых областей */
input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Стили для чекбоксов */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Стили для текстового поля "Сообщение" */
#message {
    height: 150px;
    resize: none;
}

/* Стили для кнопок */
main>button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #003559;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Стили для кнопок при наведении курсора */
main>button:hover {
    background-color: #0056b3;
}

/* Стили для сообщений об ошибках */
.error-message {
    color: red;
}

/* Стили для блока истории */
#history {
    margin-top: 20px;
}

/* Стили для темной темы */
body.dark-theme {
    color: aliceblue;
    background-color: black;
}

/* Стили для светлой темы */
body.light-theme {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Стили для темной темы */
.dark-theme header {
    background-color: black;
}

/* Стили для темной темы */
.dark-theme footer {
    background-color: rgb(255, 255, 255);
    color: #000;
}

/*Стили для светлой темы*/
.light-theme footer {
    color: white;
}

/* Стили для темной темы */
.dark-theme .footer-text1 .footer-text3 {
    color: black;

}

/* Стили для темной темы */
.dark-theme .footer-icons>a {
    filter: brightness(0.1);
}

/* Стили для темной темы */
.dark-theme .div_title p {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.dark-theme .news-center {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.dark-theme .news-content {
    color: aliceblue;

}

/* Стили для темной темы */
.dark-theme .crumbs {
    color: aliceblue;


}

/* Стили для темной темы */
@media screen and (max-width: 987px) {
    .dark-theme .navbar-toggle {
        color: #ffffff;
    }

    .dark-theme .bar {
        background-color: rgb(255, 255, 255);
    }
}