

/*стили для первого блока контента*/
.content_block1 {
    background-color: rgba(198, 198, 198, 0.408);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 20px 20px 20px;
    margin: 15px 30px;
}

/*стили для второго блока контента*/
.content_block2 {
    width: 100%;

    padding-top: 15px;
    margin: 0 auto;

}

/*стили для третьего блока контента*/
.content_block3 {
    border-radius: 24px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/*Стили для картинки в 3 блоке*/
.block3_img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.block3_img>img {
    width: 100%;
}

/*стили для текста и кнопки на картинке а также под картинкой*/
.block3_img_and_text {
    display: flex;
    flex-wrap: wrap;
}

.block3_img_text {
    display: block;
    justify-content: center;
    align-items: center;

}

/*стили для текста на картинке*/
.block3_img_text>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 5px;
    letter-spacing: .01em;
    line-height: 1.2;
    font-size: 20px;
}

.block3_img_text>h1>br {
    display: none;
}

/*стили для кнопки "Подробнее" на картинке*/
.block3_img_text_detailed {
    order: 2;
    text-align: center;
    margin-top: 0px;
}

/*стили для кнопки "Подробнее" на картинке*/
.block3_img_text_detailed>a {
    display: inline-block;
    width: 94%;
    padding: 15px 0px;
    background-color: #003559;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/*стили для кнопки "Подробнее" на картинке*/
.block3_img_text_detailed>a:hover {
    background-color: #0056b3;
}

@media screen and (min-width:960px) {

    /*стили для текста на картинке*/
    .block3_img_text {
        display: block;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: 0;
        height: 380px;

        padding: 25px 50px;
    }

    /*стили для текста на картинке*/
    .block3_img_text>h1 {
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 40px;
        letter-spacing: .01em;
        line-height: 1.2;
        font-size: 28px;
    }

    /*стили для кнопки "Подробнее" на картинке*/
    .block3_img_text_detailed {
        order: 2;
        text-align: center;
        margin-top: 50px;
    }

    /*стили для кнопки "Подробнее" на картинке*/
    .block3_img_text_detailed>a {
        display: inline-block;
        width: 100px;
        padding: 15px 50px;
        background-color: #003559;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    /*стили для кнопки "Подробнее" на картинке*/
    .block3_img_text_detailed>a:hover {
        background-color: #0056b3;
    }

    .block3_img_text>h1>br {
        display: block;
    }
}

/*стили для текста под картинкой*/
.block3_text {
    padding: 20px;
}

/*стили всплывающего окна*/
.form-container {
    display: none;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/*стили для крестика*/
.close {
    position: absolute;
    top: -3px;
    right: 13px;
    cursor: pointer;
    font-size: 38px;
}

/*стили для ввода email*/
#your_email {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*стиль для ввода имени*/
#username {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*стиль для ввода номера телефона*/
#phone {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*стили для ввода email*/
#your_email2 {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*стиль для ввода имени*/
#username2 {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*стиль для ввода номера телефона*/
#phone2 {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*стили для кнопки*/
button:not(#themeToggle,.night-theme-button) {
    padding: 10px 20px;
    background-color: #003559;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*стили для кнопки*/
button:hover:not(#themeToggle,.night-theme-button) {
    background-color: #0056b3;
}

/*стили блока 4*/
.content_block4 {
    margin-top: 25px;
    border-radius: 24px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


.block4_text1>h1,
.block4_text1>h2 {
    text-align: center;
    padding: 15px 20px;
}




.block4_forma {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.block4_forma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-item {
    margin-bottom: 20px;
    width: 25%;
}

@media screen and (max-width:1000px) {
    .filter-item {
        width: 50%
    }
}

@media screen and (max-width:515px) {
    .filter-item {
        width: 80%
    }
}

/*Медиа стиль для адаптивности блока выбора авто*/
@media screen and (max-width:439px) {
    .filter-item {
        width: 90%
    }
}

.filter-item select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.filter-item select:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

.filter-item select:focus {
    outline: none;
    border-color: #007bff;
}

.block4_Contact_information {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.content_block5 {
    width: 100%;

    padding-top: 15px;
    margin: 0 auto;
}

.content_block5_fon {
    position: relative;
    height: 100%;
    padding: 20px 20px 12.5px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
}

.content_block5_fon>h2 {
    text-align: center;
}

.b_about_credit>p {
    font-size: 20px;
}

.b_list_simple__list {
    list-style-type: none;
    padding-left: 0;
}

.b_list_simple__item::before {
    content: "\25b6";
    color: #0056b3;
    display: inline-block;
    width: 1em;
}

/* Стили для темной темы */
body.dark-theme {
    color: aliceblue;
    background-color: black;
}

/* Стили для светлой темы */
body.light-theme {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Стили для темной темы */
.dark-theme header {
    background-color: black;
}

/* Стили для темной темы */
.dark-theme footer {
    background-color: rgb(255, 255, 255);
    color: #000;
}

/*Стили для светлой темы*/
.light-theme footer {
    color: white;
}