/*Стили для блока содержащего основной контент страницы Акции*/
.stocks_content_1 {
    background-color: rgba(198, 198, 198, 0.408);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 20px 20px 20px;
    margin: 15px 30px;
}

/*Стили для блока который содержит контент*/
.stocks_content_2 {
    width: 100%;
    max-width: 1460px;
    padding-top: 15px;
    margin: 0 auto;
}

.stocks_heading {
    text-align: center;
    padding-bottom: 16px;
}

.stocks_offers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stocks_block1 {
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: calc(25% - 20px);
    margin-bottom: 20px;
}

@media screen and (max-width:1023px) {
    .stocks_block1 {
        width: calc(33.3333% - 20px);
    }
}

@media screen and (max-width:768px) {
    .stocks_block1 {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width:639px) {
    .stocks_block1 {
        width: calc(100% - 0px);
    }
}

.stocks_block1_img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.stocks_block1_text {
    position: relative;
    padding: 0 8px 0 8px;
}

p {
    font-size: 20px;
    padding-left: 5px;
}

