/*Стили для блока содержащего основной контент страницы Техосмотр*/
.Tec_ins_content_1 {
    background-color: rgba(198, 198, 198, 0.408);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 20px 20px 20px;
    margin: 15px 30px;
}

/*Стили для блока который содержит контент*/
.Tec_ins_content_2 {
    width: 100%;
    max-width: 1460px;
    padding-top: 15px;
    margin: 0 auto;
}

/*Стиль заголовка*/
.Tec_ins_heading {
    text-align: center;
    padding-bottom: 16px;
}

/*Стили для "Красивой таблицы"*/
.Tec_ins_offers {
    overflow-x: auto;
}

/*Стили бля таблицы*/
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

/*Стили для содержание ячеек*/
th,
td {
    padding: 12px;

    text-align: center;
    border-bottom: 2px solid #000000c2;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

}

/*стиль при наведении мыши*/
tr:hover {
    filter: brightness(150%);
}

/*стиль для цвета заголовка*/
th {
    background-color: #014792;
    color: rgb(255, 255, 255);
}

/* Первая полоска - каждая четная строка */
tr:nth-child(odd) {
    background-color: #0452a5e6;
    color: #000000;
}

/* Вторая полоска - каждая нечетная строка */
tr:nth-child(even) {
    background-color: #6c94be;
    color: rgb(0, 0, 0);
}

/* Стили для описания блока с информацией о том что даелает данная страница */
.catalog-description {
    background-color: rgba(198, 198, 198, 0.408);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 20px 20px 20px;
    margin: 15px 30px;
    color: #333;
    text-align: center;
}

/* Стили для темной темы */
body.dark-theme {
    color: aliceblue;
    background-color: black;
}

/* Стили для светлой темы */
body.light-theme {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Стили для темной темы */
.dark-theme header {
    background-color: black;
}

/* Стили для темной темы */
.dark-theme footer {
    background-color: rgb(255, 255, 255);
    color: #000;
}

/*Стили для светлой темы*/
.light-theme footer {
    color: white;
}

/* Стили для темной темы */
.dark-theme .footer-text1 .footer-text3 {
    color: black;

}

/* Стили для темной темы */
.dark-theme .footer-icons>a {
    filter: brightness(0.1);
}

/* Стили для темной темы */
.dark-theme .div_title p {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.dark-theme .news-center {
    color: aliceblue;
    background-color: black;
}

/* Стили для темной темы */
.dark-theme .news-content {
    color: aliceblue;

}

/* Стили для темной темы */
.dark-theme .crumbs {
    color: aliceblue;


}

/* Стили для темной темы */
@media screen and (max-width: 987px) {
    .dark-theme .navbar-toggle {
        color: #ffffff;
    }

    .dark-theme .bar {
        background-color: rgb(255, 255, 255);
    }
}